<!doctype html>
{% load i18n web2018 %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}|default:'en'">
<head>

  {# Required meta tags #}
  <meta charset="utf-8" />

  {# Page title #}
  <title>{% block web2018_title %}django-epfl-web2018 template title{% endblock %} - EPFL</title>

  {% include "web2018/includes/head.html" %}

  {% block web2018_extra_link %}{% endblock %}

</head>
<body>
  <div class="site d-flex flex-column min-vh-100">

    {% if LANGUAGE_CODE in 'en fr de' %}
      {% include "web2018/includes/access-nav-"|add:LANGUAGE_CODE|add:".html" %}
    {% else %}
      {% include "web2018/includes/access-nav-en.html" %}
    {% endif %}

    <header class="header header-light">
      <div class="header-light-content">

        {% include "web2018/includes/logo.html" %}

        <p class="site-title">
          <a href="/">
            {% block web2018_app_name %}django-epfl-web2018 app name{% endblock %}
          </a>
        </p>

        {% block web2018_header %}{% endblock %}

        {% include "web2018/includes/mobile-menu.html" %}

      </div>
    </header>

    <div class="main-container mb-4">

      {# Breadcrumb #}
      {% block web2018_breadcrumb_container %}
        <div class="breadcrumb-container">
          <nav id="breadcrumb-wrapper" class="breadcrumb-wrapper" aria-label="{% trans 'Breadcrumb' %}">
            <ol class="breadcrumb pb-0">
              <li class="breadcrumb-item">
                <a href="//www.epfl.ch" title="{% trans 'Home' %}" aria-label="{% trans 'Home' %}">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-home"></use>
                  </svg>
                </a>
              </li>
              {% block web2018_breadcrumb %}{% endblock %}
            </ol>
          </nav>
        </div>
      {% endblock %}

      {# Messages framework #}
      {% web2018_messages %}

      {# Nav-Main (Menu Hamburger) #}
      {% block web2018_nav_main %}{% endblock %}

      {# Main #}
      <div class="w-100 pb-4">
        {% block web2018_content %}{% endblock %}
      </div>

    </div>

    {# Footer #}
    <div class="mt-auto">
      <div class="bg-gray-100 pt-5">
        <div class="container">
          {% if LANGUAGE_CODE in 'en fr de' %}
            {% include "web2018/includes/footer-light-"|add:LANGUAGE_CODE|add:".html" %}
          {% else %}
            {% include "web2018/includes/footer-light-en.html" %}
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  {% include "web2018/includes/footer-scripts.html" %}

  {% block web2018_extra_js %}{% endblock %}

</body>
</html>
